<?xml version="1.0"?>
<launch>
  <arg name="record_cameras" default="true" />
  <arg name="record_hrpsys" default="true" />



  <!-- RGB-D related topics -->
  <arg name="camera2"              			default="d400"/>		<!-- Note: Replace with camera name -->
  <arg name="rgb_topic"               default="/$(arg camera2)/color/image_raw"/>
  <arg name="depth_topic"             default="/$(arg camera2)/aligned_depth_to_color/image_raw" />
  <arg name="camera_info_topic"       default="/$(arg camera2)/color/camera_info" />
  <arg name="depth_camera_info_topic" default="$(arg camera_info_topic)" />
  <!--arg name="depth_camera_info_topic" default="/$(arg camera2)/aligned_depth_to_color/camera_info"/-->

  <arg name="scan_topic"              default="/front/scan"/>
  <!-- /tf_static /joint_states -->
   <arg name="file" default="/media/administrator/SSD500GB/rtabmap_bag" /> <!-- $HOME ${HOME} /media/administrator/SSD500GB/rtabmap_bag  /home/administrator/rtabmap_bag  -->


 <node pkg="rosbag" type="record" name="rosbag_record"
       args="record -o $(arg file) /tf /tf_static /jackal_velocity_controller/odom /imu/data /jackal_velocity_controller/cmd_vel $(arg rgb_topic) $(arg depth_topic) $(arg camera_info_topic) $(arg scan_topic)" if="$(arg record_cameras)" />

 
</launch>
