<?xml version="1.0"?>
<launch>
  <!--arg name="custom_rtabmap_param_file"   value="$(find robot_navigation)/config/rtabmap/rtabmap_default.yaml"/--> <!-- ADD -->
  <!--arg name="custom_rtabmap_param_file"   value="$(find robot_navigation)/config/rtabmap/use_D435_and_2Dlidar.yaml"/-->              <!-- ADD -->
  <arg name="custom_rtabmap_param_file"      value="$(find robot_navigation)/config/rtabmap/use_ZED_and_2Dlidar.yaml"/>      <!-- Jackal -->
  <arg name="robust_graph_optimization_param_file"      value="$(find robot_navigation)/config/rtabmap/robust_graph_optimization.yaml"/>      <!-- new new ADD-->

  <!-- Localization-only mode -->
  <!--arg name="localization"                               default="false"/-->
  <arg name="localization"                               default="false"/>
  <arg     if="$(arg localization)" name="rtabmap_args"  default=""/>
  <arg unless="$(arg localization)" name="rtabmap_args"  default="--delete_db_on_start"/>


  <arg name="wait_for_transform_duration"  default="0.2"/> 

  <!-- 3D Sensor(s) -->

  <!--arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)" /-->
  <!--arg name="3d_sensor"               default="D435" /-->
  <!--arg name="3d_sensor"            default="ZR300" /-->
  <arg name="3d_sensor"            default="ZED" />

  <!-- Choose visualization   rtabmapviz or  rviz -->
  <arg name="choose_visualization"    default="rtabmapviz" />                     <!-- ADD -->



  <arg name="scan_topic"           default="/front/scan" />                          <!-- Jackal -->

  <arg name="database_path"        default="~/Documents/RTAB-Map/rtabmap.db" />      <!-- ADD -->
  <arg name="rviz_cfg"             default="$(find robot_navigation)/rviz/robot_navigation_app0625.rviz" />   <!-- ADD -->

  <include file="$(find robot_navigation)/launch/includes/rtabmap_default.launch.xml">
    <arg name="database_path"            value="$(arg database_path)"/>         <!-- ADD -->
    <arg name="localization"             value="$(arg localization)" />
    <arg name="rtabmap_args"             value="$(arg rtabmap_args)" /> 
    <arg name="custom_param_file"        value="$(arg custom_rtabmap_param_file)"/>
    <arg name="robust_graph_optimization_param_file"        value="$(arg robust_graph_optimization_param_file)"/>      <!-- new new ADD  --> 

<!-- Jackal --> <!-- Fixed frame id, you may set "base_link" or "base_footprint" if they are published -->
    <arg name="frame_id"                 value="base_link"/>    
<!--The frame attached to odometry. If empty, rtabmap will subscribe to odom topic to get odometry. If set, odometry is got from tf (in this case, a covariance of 1 is used)-->
    <arg name="odom_frame_id"            value="odom"/> 
    <arg name="wait_for_transform"  value="$(arg wait_for_transform_duration)"/>



  <!-- RGB-D related topics -->

  <arg if="$(eval arg('3d_sensor') == 'ZR300')" name="rgb_topic"         value="/ZR300/rgb/image_rect_color"/>
  <arg if="$(eval arg('3d_sensor') == 'ZR300')" name="depth_topic"       value="/ZR300/depth_registered/sw_registered/image_rect_raw"/>
  <arg if="$(eval arg('3d_sensor') == 'ZR300')" name="camera_info_topic" value="/ZR300/rgb/camera_info"/>

  <arg if="$(eval arg('3d_sensor') == 'D435')"  name="rgb_topic"         value="/D435/color/image_raw"/>
  <arg if="$(eval arg('3d_sensor') == 'D435')"  name="depth_topic"       value="/D435/aligned_depth_to_color/image_raw"/>
  <arg if="$(eval arg('3d_sensor') == 'D435')"  name="camera_info_topic" value="/D435/color/camera_info"/>

  <arg if="$(eval arg('3d_sensor') == 'ZED')"  name="rgb_topic"               value="/camera/zed_node/rgb/image_rect_color"/>
  <arg if="$(eval arg('3d_sensor') == 'ZED')"  name="depth_topic"             value="/camera/zed_node/depth/depth_registered"/>
  <arg if="$(eval arg('3d_sensor') == 'ZED')"  name="camera_info_topic"       value="/camera/zed_node/rgb/camera_info"/>
  <arg if="$(eval arg('3d_sensor') == 'ZED')"  name="depth_camera_info_topic" value="/camera/zed_node/depth/camera_info"/>




  <arg name="approx_sync"              value="true"/>
  <arg name="queue_size"               default="30"/>
  <arg name="visual_odometry"          default="false"/>                   <!--false  Launch rtabmap visual odometry node -->

  <!--arg name="odom_topic"               default="/odom"/-->              <!-- Odometry topic name -->
  <arg name="odom_topic"                  default="/odometry/filtered"/>   <!-- Jackal -->

  <arg name="subscribe_scan"           default="true"/>                   <!-- Jackal -->
  <arg name="scan_topic"               default="$(arg scan_topic)"/>

  <arg name="gps_topic"                default="navsat/fix" />              <!-- Jackal-->

  <!-- output -->
  <!--arg name="grid_map_topic"            value="/map"/-->        <!-- new ADD, Mapping Occupancy grid generated with laser scans -->

  <!-- Choose visualization -->
  <arg if="$(eval arg('choose_visualization') == 'rviz')" name="rviz"  value="true"/>              <!-- ADD -->
  <arg if="$(eval arg('choose_visualization') == 'rviz')" name="rtabmapviz" value="false"/>        <!-- ADD -->
  <arg if="$(eval arg('choose_visualization') == 'rtabmapviz')" name="rtabmapviz" value="true"/>   <!-- ADD -->
  <arg if="$(eval arg('choose_visualization') == 'rtabmapviz')" name="rviz"  value="false"/>       <!-- ADD -->
  <arg name="rviz_cfg"                value="$(arg rviz_cfg)" />                                   <!-- ADD -->

  </include>



</launch>
