<?xml version="1.0"?>
<launch>
  <arg name="camera_tf_option"    default="front" />  <!-- option: "above"  or "front"  --> 
  <arg name="pi" value="3.1415926535897932" />
  <arg name="pi/2" value="1.5707963267948966" />
  <arg name="pi/4" value="0.785398163" />

  <arg name="camera"              default="D435"/>


<node if="$(eval arg('camera_tf_option') == 'above')" pkg="tf2_ros" type="static_transform_publisher" name="base_link2D435_link" args=" 0.08 0.0 1.33 0.0 -$(arg pi/2) 0.0 base_footprint $(arg camera)_link " />


<node if="$(eval arg('camera_tf_option') == 'front')" pkg="tf2_ros" type="static_transform_publisher" name="base_link2D435_link" args=" 0.15 0.0 1.2 0.0 0.0 0.0 base_footprint $(arg camera)_link " />



</launch>
