<launch>

    <!-- Run the map server -->
    <arg name="map_file" default="$(find my_jackal_tools)/maps/mymap.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!--- Run AMCL -->
    <include file="$(find my_jackal_tools)/launch/amcl.launch" />

    <!--- Run Move Base -->
    <include file="$(find my_jackal_tools)/launch/with_map_move_base.launch" />

</launch>